<p id="notice"><%= notice %></p>

<p>
  <strong>Score board:</strong>
  <%= @game.score_board %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner %>
</p>

<p>
  <strong>Players:</strong>
  <%= @game.players %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
